        <ul>
        <li>Title: <%= @artwork.title%>
        <li>Artist: <%= @artwork.artist.username%>
        <li>Image URL: <%= @artwork.image_url%>
        <ul>

        <a href="<%= artworks_url %>">See all the books</a>