<div class="masthead">
    <div class="language-nav">
        <ul>
            <li><a href="#" id="make-bold">CSS</a></li> 
            <li><a href="#">HTML</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">Ruby</a></li>
        </ul>
    </div>
    <div class="masthead-border">
    <img src="assets/AA_Times_Logo.png" alt="title" class="logo">
    </div>
    <ul class="masthead-links">
        <time>Tuesday, October 18, 2016</time>
        <li><i class="fa-regular fa-newspaper"></i><a href="#">Today’s Paper</a></li>
        <li><i class="fa-regular fa-video"></i><a href="#">Video</a></li>
        <button>77°F</button>
        <button>AAO <strong>100%</strong></button>
    </ul>
</div>