<h2>SIGN-IN</h2>
<br>
<a id= "sign_up" href="<%= new_user_url %>">Go to Sign-up!</a>
<br>
<br>
<form action="<%= session_url %>" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<p class="form">
<label for="email">Email</label>
<input id = "email" type="text" name = "user[email]">
</p>

<p class="form">
<label for="Password">Password</label>
<input id="Password" type="text" name = "user[password]">
</p>
<p class="form">
<input id="submit" type="submit" , value="submit">
</p>

</form>